{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>新增报修</h2>
</div>
<form action="{:url()}" method="post" class="form-horizontal">
    <input type="hidden" value="{$info.id}" name="id">
    <div class="form-item">
        <label class="item-label">标题</label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">姓名</label>
        <div class="controls">
            <input type="text" class="text input-large" name="name" value="{$info.name}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">电话</label>
        <div class="controls">
            <input type="text" class="text input-large" name="tel" value="{$info.tel}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">地址</label>
        <div class="controls">
            <input type="text" class="text input-large" name="addr" value="{$info.addr}">
        </div>
    </div>

    <div class="form-item">
        <label class="item-label">报修内容</label>
        <div class="controls">
            <textarea name="content" id="" cols="50" rows="5">{$info.content}</textarea>
        </div>
    </div>
    <div class="form-item">
        <input type="submit"  class="btn btn-return" value="确定修改">
        <!--<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>-->
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
    //导航高亮
    highlight_subnav('{:url('property/index')}');
</script>
{/block}
